*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}
@font-face {
	font-family: cooc;
	src: url(coco.ttf);
}
body{
	overflow-x: hidden;
	background: linear-gradient(rgb(34, 34, 87), rgb(33, 100, 105));
	font-family: Arial, Helvetica, sans-serif;
}
.heading{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 8vh;
	position: fixed;
	z-index: 5;
}
.heading a{
	padding: 30px 70px;
	text-transform: capitalize;
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	cursor: pointer;
	transition: .2s ease;
	text-decoration: none;
	color: white;
}
.heading a:hover{
	transform: scale(1.1);
	text-shadow: 0 0 5px gold;
}
.middle{
	display: flex;
	justify-content: center;
	flex-direction: column;
	right: 0;
}
.middle a{
	font-size: 50px;
	position: relative;;
	font-weight: normal;
	color:gold; 
	left: 10%;
	animation: render 1.2s;
}
.sec{
	cursor: pointer;
	letter-spacing: 10px;
	font-family: cooc;
	text-decoration: none;
	transition: .3s;
}
.sec:hover{
	text-shadow: 0 0 10px white;
}
.middle p{
	font-size: 20px;
	color: white;
	position: relative;
	left: 10%;
	max-width: 80%;
	line-height: 1.7;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	animation: rende1r 2s;
}
.secpage{
	z-index: 1;
	display: flex;
	padding: 10%;
	justify-content: center;
	flex-direction: column;
	align-items: flex-end;
	width: 94%;
	height: 92vh;
	animation: secreder 1.8s;
}
.secpage a{
	background-color: transparent;
    cursor: pointer;
    height: 20px;
    width: 32px;
    height: 32px;
    transition: .3s;
    color: white;
    font-size: 32px;
	margin-bottom: 35px;
	text-decoration: none;
	transition: .3s;
}
.secpage a:active{
	scale: 0.7;
}
.secpage .icon-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	border-radius: 10px;
}
.secpage .icon-twitter {
	color: rgb(19, 138, 201);
}
.secpage .icon-github  {
	color: rgb(147, 147, 147);
}
.container{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 92vh;
}
@keyframes render{
	0%{
		transform: translate(-100%);
	}
	100%{
		transform: translate(0%);
	}
}
@keyframes rende1r{
	0%{
		left: -100%;
	}
	100%{
		left: 10%;
	}
}
@keyframes secreder {
	from{
		transform: translateX(100%);
	}
	to{
		transform: translateX(0%);
	}
}
.yoyo{
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: rgb(189, 189, 189);
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: -1;
	top: -100%;
	transform-origin: 100 100;
	animation: hbet 5s infinite alternate;
	animation-delay: 2s;
}
.yoyo::before{
	content: "";
	background-color: rgb(34, 34, 87);
	position: absolute;
	width: 150px;
	height: 150px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.yoyo span{
	position: absolute;
	height: 1000px;
	width: 3px;
	background-color: rgb(189, 189, 189);
	left: 50%;
	transform: translateX(-50%);
	bottom: 190px;
	z-index: -2;

}
@keyframes hbet{
	0%, 100%{
		top: -100%;
		rotate: 0;
	}
	10% {
		top: 55%;
	}
	12% {
		top: 50%;
	}
	12%, 80%{
		top: 50%;
	}
	82% {
		top: 55%;
	}
}
@keyframes dor {
	0%{
		rotate: 0;
	}
	100%{
		rotate: 360deg;
	}
}
.yoyoimg{
	transform-origin: 0 0;
	width: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: dor .3s infinite linear;
}
.secpage a:hover{
	transform: scale(1.1);
}
.pudge{
	background: linear-gradient(rgb(33, 100, 105), rgb(34, 60));
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 50px;
	align-items: center;
}
@media{
	.middle p{
		max-width: 60%;
	}
}
.centre{
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.centre input{
	padding: 20px 10% 20px 40px;
	border-radius: 20px;
	border: 2px solid white;
	outline: none;
	margin: 20px;
	backdrop-filter: blur(15px);
	background-color: transparent;
	backdrop-filter: blur(15px);
	color: white;
	font-size: 20px;
	min-width: 100%;
}
.centre .last{
	padding: 20px 10% 20px 40px;
	margin: 20px;
	border: none;
	outline: none;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 20px;
	padding-bottom: 20%;
	color: white;
	overflow: hidden;
	font-size: 20px;
	width: 100%;
	height: 300px;
	resize: none;
}
input::placeholder{
	color: rgba(255, 255, 255, 0.694);
	font-family: 'Courier New', Courier, monospace;
}
.last::placeholder{
	color: rgba(255, 255, 255, 0.694);
	font-family: 'Courier New', Courier, monospace;
}
.par, .adress{
	color: white;
	font-size: 25px;
}
.page2-content img{
	width: 300px;
}
.page2-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.writing{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.writing img{
	width: 30px;
}
.writing img, p{
	margin-bottom: 20px;
	margin-top: 0;
}
.location{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.location .pos-loc{
	width: 25px;
}
.location p, .pos-loc{
	margin-top: 20px;
	margin-bottom: 0;
}
.about-page{
	width: 100%;
	height: 100vh;
	margin-right: 0;
}
.back{
	height: 50vh;
	display: flex;
	justify-content: center;
	gap: 20px;
	align-items: center;
}
.mypic{
	width: 15%;
	border: 1px solid;
	border-radius: 50%;
	transition: .4s;
}
.mypic:hover{
	transform: scale(1.1);
}
.simple-bio{
	font-size: 20px;
	max-width: 30%;
	margin-bottom: 0;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
.start{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 50vh;
}
.phonenumber{
	width: 40px;
	margin-bottom: 10px;
}
.numero{
	margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
	letter-spacing: 5px;
}
